# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars

# Helm
charts/**/charts/
*.tgz

# Kubernetes
kubeconfig
*.pem
*.key
*.kubeconfig

# IDE
.vscode/
.idea/

# OS
.DS_Store
*.swp
